// 滚动条样式
::-webkit-scrollbar-track-piece {
width: 5px;
background-color: #4e4e5a;
}

::-webkit-scrollbar {
width: 5px;
height: 4px;
}

::-webkit-scrollbar-thumb {
height: 50px;
background:#d4d5d7 ;
cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
background: #d4d5d7;
cursor: pointer;
} 
body{
    font-family: Sans-serif;
}