$font-size : 14px;
$font-size-sm : 12px;
$side-bar-width:100px;
$theme-color:#3296fa;
$layout-head-height:70px;
$aside-width:250px;
$main-bg-color:#f6f6f6;
$font-size-lg : 16px;
$editor-height:250px;
$border-color:#ddd;
$border-color-light:#eee;
