$font-size : 14px;
$font-size-sm : 12px;
$side-bar-width:100px;
$theme-color:#0088fe;
$layout-head-height:70px;
$aside-width:250px;
$main-bg-color:#fff;
$font-size-lg : 16px;
$editor-height:250px;
$border-color:#ddd;
$border-color-light:#eee;
$message-bg-color:#f3f4f6;
$edit-bg-color:#fdfdfd;
$my-msg-bg-color:#cae8ff;
$my-msg-color:#000;

